.sidewest{
      
    animation-name:movingWest;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    @media only screen and(max-width:992px){
     animation:none;
  }
}
.sideeast{
    
  animation-name:movingEast;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  @media only screen and(max-width:992px){
  animation:none;
   }
}